<!DOCTYPE html>
<html>
<div class="container" ng-controller="ForumController">
  
  <div ng-repeat="forum in forumdata" >
  
  <div class="panel panel-primary">
      <div class="panel-heading">{{forum.forumname}}</div>
      <div class="panel-body">{{forum.forumcontent}}</div>
      <div class="panel-footer">Created BY:&nbsp;{{forum.username}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Created ON:&nbsp;{{forum.createddate}}</div>
    </div>

  </div>
  
  <br>
  <br>
  <br>
  <br>
  <br>
  
  
  <div>
      <center><h3>Write A Message</h3></center>
    <div class="row">
    <form>
        
        <label>Forum Name</label>
            <input type="text" name="Forumname" ng-model="forum.forumname" class="form-control" placeholder="ForumName" required/>
      
    </div>
    <div class="row">
       
           <label>Forum Content</label> <textarea rows="6" cols="20" name="Forumcontent" 
            ng-model="forum.forumcontent" placeholder="Enter The Text" class="form-control" required/ ></textarea>
       
    </div>
    <div class="row">
        
          <center>  <input type="submit" value="Add Forum" class="btn btn-success" ng-click="addforum()" /></center>
       
    </div>
   </form>
  </div>
  
</div>
</html>