<div class="container" ng-controller="ChatController">

	<form  name="chatMsg">

	<table class="table" width="50%" align="center">
	
		<tr>
			<td>Chat Text</td>
			<td>
				<textarea cols="50" rows=5" ng-model="message"></textarea>
				<span class="count" ng-bind="max - message.length">140</span>
			</td>
			<td>
				<input type="submit" value="Send" ng-disabled="message.length>140 || message.length==0" class="btn btn-info" ng-click="addmessage()" />
			</td>
		</tr>
	</table>
	</form>
<div class="panel panel-primary">
 <div class="panel-heading"><b><i><center>Messages</center></i></b></div>

<div class="panel-body">
<p ng-repeat="message in messages|orderBy:'time':true">
	<time>{{message.time|date:'HH:MM'}}</time>
	<span>{{message.message}}</span>
	</div>
</p>
</div>

	
</div>